.ql-editor {
  height: 300px !important;
}

strong {
  font-weight: bold;
}
.event-list img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 4px;
}
.event-list-img {
  width: 250px;    
  height: calc(350px* 9 / 16);
  border-radius: 4px;
}
.events-admin {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.event-list button {
  align-self: stretch;
}
.event-list {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 0 0 2px #b3b3b3;
  background-color: #efefef;
}