:root {
  --bg-color: #fdeee9;
  --text-color: rgb(27, 27, 27);
  --primary-color: #f05225;
}
body {
  overflow-x: hidden;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-5deg);
  }
}
@keyframes title-show {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.title-anim:nth-of-type(2) {
  animation-delay: 0.5s;
}
.title-anim {
  transform: translateY(50px);
  opacity: 0;
  animation: 0.75s title-show 0.25s ease forwards;
}
.primary-c {
  width: 375px;
  font-weight: bold;
  display: inline-block;
  color: white;
  margin-top: 1rem;
  animation: 0.5s rotate 0.75s ease forwards;
  padding: 1.5rem 3rem;
  border-radius: 200px;
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  box-sizing: border-box;
  font-family: 'Inter';
  font-weight: 500;
}
.home {
  background-color:var(--bg-color) ;
  padding-top: 1.5rem;
  display: flex;
  padding-bottom: 10rem;
  /* min-height: 200vh; */
  /* align-items: center; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color:var(--bg-color) ;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar a {
  margin: 0 24px;
  color: var(--text-color);
}
.navbar a:hover {
  color: var(--primary-color);
}
.navbar a:nth-of-type(1){
  margin-left: 0;
}
a {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(239, 236, 229);
}
.btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.1rem;
  border-radius: 100px;
  font-family: 'Montserrat';
  font-weight: 600;
  border: none;
  padding: 1rem 1.75rem;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(105%);
}
.title { 
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 4.25rem;
  font-weight: 900;
}
.btn-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.home .info {
  /* flex: 1; */
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
/* .home .images-container {
  position: absolute;
} */
.info .text {
  margin-top: 1rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: all 0.25s ease;
}
@keyframes moveRow {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(60px);
  }
}
@keyframes moveRow2 {
  from {
    transform: translateX(60px);
  }
  to {
    transform: translateX(0px);
  }
}
.row {
  transform: translateX(60px);
  animation: 1s moveRow 0.25s ease backwards;
}
.row:nth-of-type(2) {
  animation: 1s moveRow2 0.25s ease forwards;
}
.images-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.img-container {
  transform: translateX(50px);
  border-radius: 1rem;
  width: 200px;
  height: 110px;
  object-fit: contain;
  overflow: hidden;
  box-shadow: 0 0 15px #cabfb3;
}
.img-container img {
  border-radius: 1rem;
  width: 100%;
}
.text {
  font-size: 1.25rem;
}
.container {
  padding-left: 5%;
  padding-right: 5%;
}